<body>
  <div class="div-principal">

   <app-sidebar></app-sidebar>

    <div class="div-second">

      <div class="div-label">
        <label>PharmaSystem</label>
      </div>


        <!-- conteúdo da página -->
        <div style="margin-left: 30px;margin-top: 13px;">
          <input [routerLink]="['/employee']" type="submit" class="botão" value="Cadastrar">
        </div>
        <!--  -->
        
        <!-- div temporária pra controlar o tamanho da tela -->
        <div style="margin-bottom:500px"></div>
    
  
      </div>
    </div>
    </body>
  