<main>
    <div class="principal" style="display: -webkit-box;">
  
     <app-sidebar></app-sidebar>
  
      <div style="background-color: #EDF1F5;width:  613px; border-right: 2px solid #b8babe96;border-bottom: 2px solid #b8babe96;">
        <div style="margin-bottom: 20px;background-color: white;width: 613px;border-bottom: 2px solid #b8babe96;border-right: 2px solid #b8babe96;border-top: 2px solid #b8babe96;height: 51px;">
          <label style="padding: 10px;width: 115px; height: 24px; top: 18px; left: 308px;margin-left: 36px;">Pharma One</label>
        </div>
  
        <!-- conteúdo da página -->
       cadastro de clientes
        <!--  -->
  
      </div>
    </div>
  </main>
  
  