body, html{
  height: 100%;
  width:100%;
}

.relative-parent{
  background-color: aquamarine;
}
.top{
  background-color:  brown;
  width: 20px;
}
.relative{
  background-color: blueviolet;
  height: 100px;
  width: 300px;
  position: relative;
}
.botão{
  background-color: #24c285;
  padding: 9px 57px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  border: none;
  margin-bottom: 12px;
}
.label{
  margin-bottom: 0;
  font-family: 'Poppins';
  size: 14px;
}
.input{
  border-radius: 4px;
  background-color: #E3EBF3;
  border: 1.5px solid #b8babe96;
  font-size: 1em;
  width:18em;
  height:2.5em;
}
.input-2-columns{
  border-radius: 4px;
  background-color: #E3EBF3;
  border: 1.5px solid #b8babe96;
  width:37em;
  height:2.5em;
}
.select{
  border-radius: 4px;
  background-color: #E3EBF3;
  border: 1.5px solid #b8babe96;
  width:18em;
  height:2.5em;
}

.textarea{
  border-radius: 4px;
  background-color: #E3EBF3;
  border: 1.5px solid #b8babe96;
  width: 37em;
  height:6em;
}

/* Estilisações das divs comuns das telas (antes do Conteúdo da Pagina) */

.div-label{
  margin-bottom: 20px;
  background-color: white;
  border-bottom: 2px solid #b8babe96;
  border-right: 2px solid #b8babe96;
  border-top: 2px solid #b8babe96;
}

.div-label label{
  padding: 10px;
  width: 115px; 
  height: 24px; 
  top: 18px; 
  left: 308px;
  margin-left: 36px;
  margin-bottom: 20px;
}

.div-principal{
  display: -webkit-box;

}

.div-second{
  background-color: #EDF1F5; 

  border-bottom: 2px solid #b8babe96;
  width: 100%;
}

