.relative-parent{
  background-color: aquamarine;
}
.top{
  background-color:  brown;
  width: 20px;
}
.relative{
  background-color: blueviolet;
  height: 100px;
  width: 300px;
  position: relative;
}
.botão{
  background-color: #24c285;
  padding: 9px 57px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  border: none;
}
.label{
  margin-bottom: 0;
  font-family: 'Poppins';
  size: 14px;
}
.input{
  border-radius: 4px;
  background-color: #E3EBF3;
  border: 1.5px solid #b8babe96;
}
