<body>
  <div class="div-principal">

   <app-sidebar></app-sidebar>

    <div class="div-second">

      
      <div class="div-label">
        <div>
           <label>PharmaSystem</label>
        </div>        
        <div style="margin-left: 50em;">          
          <label> {{now}}</label>
        </div>
      </div>

        <!-- conteúdo da página -->
        dashboard here
        <!--  -->
        
        <!-- div temporária pra controlar o tamanho da tela -->
        <div style="margin-bottom:500px"></div>
    
  
      </div>
    </div>
    </body>
  