<main>
    <div class="principal" style="display: -webkit-box;">
  
     <app-sidebar></app-sidebar>
  
      <div style="background-color: #EDF1F5;width:  613px; border-right: 2px solid #b8babe96;border-bottom: 2px solid #b8babe96;">
        <div style="margin-bottom: 20px;background-color: white;width: 613px;border-bottom: 2px solid #b8babe96;border-right: 2px solid #b8babe96;border-top: 2px solid #b8babe96;height: 51px;">
          <label style="padding: 10px;width: 115px; height: 24px; top: 18px; left: 308px;margin-left: 36px;">Pharma One</label>
        </div>
  
        <!-- conteúdo da página -->
        <h3 style="margin-left: 30px;font-family: 'Poppins';font-weight: bold;">Cadastrar Remédio</h3>
        <label style="margin-left: 30px;">Todos os campos são obrigatórios</label>
        <div style="display: -webkit-box;margin-left: 30px;">
          <div style="display: inline-grid;margin-right: 10px;padding-right: 13px;">
            <label class="label">Nome</label>
            <input class="input" type="text" placeholder="Insira o nome">
          </div>
          <div style="display: inline-grid;margin-right: 10px;padding-right: 13px;">
            <label class="label">Id</label>
            <input class="input" type="text" placeholder="Insira o Id">
          </div>
        </div>
        <div style="display: -webkit-box;margin-left: 30px; margin-top: 13px;padding-right: 13px;">
          <div style="display: inline-grid;margin-right: 10px;">
            <label class="label">Grupo</label>
            <input class="input" type="select" placeholder="selecione um grupo">
          </div>
          <div style="display: inline-grid;margin-right: 10px;padding-right: 13px;">
            <label class="label">Quantidade</label>
            <input class="input" type="text" placeholder="Insira a quantidade">
          </div>
        </div>
        <div style="display: inline-grid;margin-left: 30px;margin-top: 13px;padding-right: 13px;">
          <label class="label">Como usar</label>
          <input class="input" style="padding-bottom: 50px; padding-right: 238px;" type="text">
        </div>
        <div style="display: inline-grid;margin-left: 30px;margin-top: 13px;padding-right: 13px;">
          <label class="label">Efeitos Colaterais</label>
          <input class="input" style="padding-bottom: 50px; padding-right: 238px;" type="text">
        </div>
        <div style="margin-left: 30px;margin-top: 13px;">
          <input type="submit" class="botão" value="Salvar">
        </div>
        <!--  -->
  
      </div>
    </div>
  </main>
  
  